/* Style для иконочных шрифтов*/

.fa-long-arrow-right {
      margin-left: 10px;
}

.footer-bottom__fa {
      color: #b2b2b2;
      font-size: 16px;
}










/*checkout.html*/




/*product.html*/




/*shopping.html*/

