.footer-top {
      margin-bottom: 85px;
}

.footer-menu__list-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.footer-menu__title-logo {
      margin-bottom: 10px;
}

.logo__footer {
      margin: 0;
}

.footer-info__list {
      color: #898989;
      font-family: Lato;
      font-size: 14px;
      font-weight: 300;
}

.footer-info__text-top {
      margin-bottom: 25px;
}

.footer-info__text {
      width: 430px;
      line-height: 24px;
}

.footer-menu__title {
      margin-bottom: 30px;
      color: #f16d7f;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
}

.footer-menu__inner-item {
      margin-bottom: 30px;
}

.footer-menu__inner-item:last-child {
      margin-bottom: 0;
}

.footer-menu__link {
      color: #898989;
      transition: 0.1s;
}

.footer-menu__link:hover {
      color: #222222;
}

.footer-bottom {
      background: #e6e6e6;
      padding: 30px 0;
      box-sizing: border-box;
}

.footer-bottom__conteiner {
      display: flex;
      justify-content: space-between;
}

.footer-bottom__text {
      color: #7a7a7a;
}

.footer-bottom-list {
      display: flex;
}

.footer-bottom-item {
      width: 32px;
      height: 32px;
      background: #fff;
      text-align: center;
      line-height: 32px;
      margin-right: 10px;
      transition: background 0.2s;
}

.footer-bottom-item:hover {
      background: #f16d7f;
}

.footer-bottom-item:hover .footer-bottom__fa {
      color: #f7f7f8;
}

.footer-bottom-item:active {
      background: #fff;
      opacity: 0.3;
}

.footer-bottom-item:active .footer-bottom__fa {
      color: #b2b2b2;
}

.footer-bottom-link {
      display: block;
      width: 100%;
      height: 100%;
}