@media screen and (max-width: 1285px) {
      .contact-user {
            margin-left: 25px;
      }
      .contact-user__item-item {
            margin: 0;
            margin-bottom: 80px;
      } 
}